.maindiv {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height: 100vh;
    width: 0;
    transition: 0.5s;
}
button {
    margin:10px !important;
}
ul {
    text-align: center;

}

li {
    list-style-type: none;
    margin: 50px;
    color: white;
    font-size: 40px;
    display: none;
}